@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 85%; /* white with violet */
    --foreground: 0 0% 4.9%; /* Black */
    --primary: 3 10% 33%; /* Violet */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 116 65% 41%; /* Green */
    --secondary-foreground: 0 0% 100%; /* White */

    --accent: 116 55% 41%; /* Green */
    --accent-foreground: 0 0% 100%; /* White */
    --muted: 0 0% 100%; /* White */
    --muted-foreground: 246 24% 43%; /* Violet */
    --popover: 244, 16%, 90%; /* white with violet */
    --popover-foreground: 246 24% 43%; /* Violet */

    --destructive: 0 100% 50%; /* red */
    --destructive-foreground: 0 0% 100%; /* White */
    --border: 0 0% 100%; /* White */
    --input: 0 0% 100%; /* White */
    --ring: 246 24% 43%; /* Violet */
    --radius: 0.5rem;

    --card: 0 0% 100%; /* White */
    --card-foreground: 246 24% 43%; /* Violet */
    --chart-1: 12 76% 61%; /* Example chart color */
    --chart-2: 116 55% 41%; /* Green */
    --chart-3: 197 37% 24%; /* Example chart color */
    --chart-4: 43 74% 66%; /* Example chart color */
    --chart-5: 27 87% 67%; /* Example chart color */
  }

  .dark {
    --background: 0 0% 25%; /* Black */
    --foreground: 0 0% 100%; /* White */
    --primary: 0 0% 5%; /* grey */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 30 96% 55%; /* orange */
    --secondary-foreground: 0 0% 100%; /* White */

    --accent: 30 96% 55%; /* orange */
    --accent-foreground: 0 0% 100%; /* White */
    --muted: 0 0% 4.9%; /* Black */
    --muted-foreground: 0 0% 100%; /* White */
    --popover: 0 0% 4.9%; /* Black */
    --popover-foreground: 0 0% 100%; /* White */

    --card: 0 0% 4.9%; /* Black */
    --card-foreground: 0 0% 100%; /* White */
    --destructive: 0 100% 50%; /* red */
    --destructive-foreground: 0 0% 100%; /* White */
    --border: 217.2 32.6% 17.5%; /* Grey */
    --input: 217.2 32.6% 17.5%; /* Grey */
    --ring: 217.2 32.6% 17.5%; /* Grey */
    --radius: 0.5rem;
    --chart-1: 30 96% 55%; /* orange */
    --chart-2: 217.2 32.6% 17.5%; /* Grey */
    --chart-3: 30 96% 55%; /* orange */
    --chart-4: 217.2 32.6% 17.5%; /* Grey */
    --chart-5: 30 96% 55%; /* orange */
  }
}


.project::-webkit-scrollbar-thumb {
  background-color: #888; /* Optional: Customize scrollbar thumb */
  border-radius: 10px; /* Optional: Round the edges */
}

.fade-in-up {
  opacity: 0;
  transform: translateY(70px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.fade-in-up-visible {
  opacity: 1;
  transform: translateY(0);
}

/* styles/globals.css or your relevant CSS module */
.carousel-button {
  background: transparent;
  transition: 0.3s ease;
}

.carousel-button:hover {
  background: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
}

.carousel-chevron {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel-button:hover .carousel-chevron {
  opacity: 1;
}

/* Dialog Box Styles */
.dialog-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  max-width: 90%;
  width: 100%;
  max-height: 90%;
  overflow-y: auto;
}

.dialog-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.dialog-body {
  margin-bottom: 1rem;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
}
